*.pyc
*.swp
tags
tmp/
__pycache__/
.DS_Store
.netrwhist
.VimballRecord
.vim_blog
cache/
certificates/
cookies.txt
VimballRecord
vim/plugged
vim/bundle
tmux/plugins

configs/systemd/user/timers.target.wants
configs/systemd/user/default.target.wants
configs/systemd/user/graphical-session.target.wants

profile/
password*

themes/gtk/gtk-3.0/bookmarks

dots/mbsyncrc
configs/mutt/aliases
configs/mutt/signs/*
configs/mutt/accounts/*
!configs/mutt/accounts/gmail

configs/tmuxinator/*
!configs/tmuxinator/mgc.yml

configs/wtf/config.yml

quickmarks
QtProject.conf
configs/qutebrowser/bookmarks/urls
configs/qutebrowser/autoconfig.yml
